.font {
    font: 20px Georgia, sans-serif;
  }

.h1 {
    /*text-align: center;*/
    /*color: rgb(255, 255, 255);*/
    /*background-color: #851944;*/
    padding: 24px;
    margin: 0;
}
.h2 {
    /*text-align: center;*/
    /*color: rgb(255, 255, 255);*/
    /*background-color: #851944;*/
    padding: 24px;
    margin: 0;
}
.p {
    line-height: 1.5em; /*Espacamento entre linhas do parágrafo */
}

.base {
    background-color: #eeeeee;
}

.bloco1 {
    background-color: orange;

}
.bloco2 {
    background-color: green;

}
section.bloco2 img {
    margin: 10px;
    float: left;

}
.bloco3 {
    background-color: red;
}